@import '../../settings.scss';

h2{
  text-align: center;
  font-size: 3rem;
}

label {
  &:first-of-type{
    margin-right: 40px;
  }

  img{
    width:160px;
    height:80px;
  }

  > input{
    display:none
  }

  > img{
    cursor:pointer;
    border:3px solid $grey;
    border-radius:10px;
  }

  & > input:checked + img{
    border-color: black;
    border-radius:10px;
  }
}

